flows.json
[{"id":"df3d3a94.7d2ff8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"df3d3a94.7d2ff8","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"df3d3a94.7d2ff8","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"9854c227.f1467","type":"ibmiot in","z":"df3d3a94.7d2ff8","authentication":"apiKey","apiKey":"88ddf3e8.a96b2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":200,"wires":[["a7bb5815.4332e8"]]},{"id":"a7bb5815.4332e8","type":"function","z":"df3d3a94.7d2ff8","name":"waterlevel","func":"global.set('waterlevel',msg.payload=msg.payload.WaterLevel)\nmsg.payload=global.get('waterlevel');\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["f2f2649a.0d0d98"]]},{"id":"bb147ab.f5a8f88","type":"http in","z":"df3d3a94.7d2ff8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":60,"y":300,"wires":[["cdf52069.32a73"]]},{"id":"516f90ab.98ba1","type":"http response","z":"df3d3a94.7d2ff8","name":"","statusCode":"","headers":{},"x":370,"y":320,"wires":[]},{"id":"cdf52069.32a73","type":"function","z":"df3d3a94.7d2ff8","name":"","func":"msg.payload={'waterlevel':global.get(\"waterlevel\")}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["516f90ab.98ba1"]]},{"id":"f26533d2.4399","type":"http in","z":"df3d3a94.7d2ff8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["10c1c051.85223"]]},{"id":"59270062.bc83a","type":"http response","z":"df3d3a94.7d2ff8","name":"","statusCode":"","headers":{},"x":420,"y":400,"wires":[]},{"id":"10c1c051.85223","type":"function","z":"df3d3a94.7d2ff8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["59270062.bc83a","6be9f1a3.a824d","f2f2649a.0d0d98"]]},{"id":"6be9f1a3.a824d","type":"ibmiot out","z":"df3d3a94.7d2ff8","authentication":"apiKey","apiKey":"88ddf3e8.a96b2","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":340,"wires":[]},{"id":"88ddf3e8.a96b2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]